header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    padding-left: 1em;
    padding-right: 2em;
}

.logo {
    color: white;
    text-align: center;
}

.logout {
    color: white;
    text-align: center;
    align-self: center;
}