.video-player {
    display: grid;
    grid-template-rows: 360px;
    grid-template-columns: 640px;
    grid-template-areas:
        'react-player .'
        'noteForm .'
}

.react-player {
    grid-area: react-player
}

#noteForm {
    grid-area: noteForm;
    display: grid;
    grid-template-rows: 25px auto 25px;
    grid-template-columns: 100px 60px 60px 60px 200px;
    grid-template-areas: 
        'noteTitle noteTitle noteTitle noteTitle noteTitle'
        'noteContent noteContent noteContent noteContent noteContent'
        'formLabel noteSubmit clearForm getTimestamp timestamp'
}

#formLabel {
    margin-left: .75em;
    margin-top: .25em;
    font-weight: bold;
    grid-area: formLabel
}

#noteTitle {
    grid-area: noteTitle;
}

#noteContent {
    grid-area: noteContent;
}

#noteSubmit {
    grid-area: noteSubmit;
    background-color: black;
    color: white;
    font-weight: bold;
    border: solid .25px ghostwhite;
}

#clearForm {
    grid-area: clearForm;
    background-color: black;
    color: white;
    font-weight: bold;
    border: solid .25px ghostwhite;
}

#getTimestamp {
    grid-area: getTimestamp;
    background-color: black;
    color: white;
    font-weight: bold;
    border: solid .25px ghostwhite;
}

.timestamp {
    padding-left: 2px;
    padding-top: 2.75px;
    grid-area: timestamp;
}

.note-card {
    display: grid;
    padding-left: .75em;
    padding-right: 1em;
    grid-template-rows: 30px 30px;
    grid-template-columns: 60px 60px 60px;
    grid-template-areas: 
    'note-card__timestamp note-card__edit note-card__delete .'
    'note-card__title note-card__title note-card__title note-card__title'
    'note-card__content note-card__content note-card__content note-card__content'
}

.note-card__timestamp {
    padding-top: 1em;
    font-weight: bold;
    grid-area: note-card__timestamp;
}

.note-card__title {
    grid-area: note-card__title;
}

.note-card__content {
    grid-area: note-card__content;
}

.note-card__edit {
    grid-area: note-card__edit;
}
.note-card__delete {
    grid-area: note-card__delete;
}

#noteList {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: .75em;
    padding-top: 0;
}

.note-list__timestamp {
    background-color: black;
    color: white;
    font-weight: bold;
    border: solid .5px ghostwhite;
}

.note {
    display: grid;
    grid-template-columns: 60px auto;
    grid-template-rows: 25px;
}

.note-list__note {
    margin-top: .2em;
    margin-left: .5em;
}