.video-player {
    display: grid;
    grid-template-rows: 360px;
    grid-template-columns: 640px;
    grid-template-areas:
        'react-player .'
        'noteForm .'
}

.react-player {
    grid-area: react-player
}

#noteForm {
    grid-area: noteForm;
    display: grid;
    grid-template-rows: 25px auto 22.5px;
    grid-template-columns: 60px 60px 200px 150px auto;
    grid-template-areas: 
        'noteTitle noteTitle noteTitle noteTitle .'
        'noteContent noteContent noteContent noteContent .'
        'noteSubmit getTimestamp timestamp . .'
}

#noteTitle {
    grid-area: noteTitle;
}

#noteContent {
    grid-area: noteContent;
}

#noteSubmit {
    grid-area: noteSubmit;
}

#getTimestamp {
    grid-area: getTimestamp;
}

#timestamp {
    padding-left: 2px;
    grid-area: timestamp;
}