html {
  height: 100%
}

body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

#root {
  height: 100%
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.modal {
  background-color: whitesmoke;
  border: black solid 2px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 350px;
  height: 400px;
  box-shadow: 0 5px 10px 2px rgba(195,192,192,.5);
  text-align: center;
}

.form-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
}

.form-element {
  display: inline-block;
  padding-bottom: 25px;
}

label {
  padding-right: 7.5px;
}

fieldset {
  border: none;
  display: flex;
  flex-direction: column;
}

legend {
  font-weight: bold;
}

.fieldset-element {
  padding-top: 15px;
}

.fieldset-element__top {
  padding-top: 15px;
  padding-bottom: 10px;
}

.form-buttons {
  padding-top: 15px;
}

.category-modal {
  background-color: whitesmoke;
  border: black solid 2px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 350px;
  height: 175px;
  box-shadow: 0 5px 10px 2px rgba(195,192,192,.5);
  text-align: center;
}

.login-modal {
  background-color: whitesmoke;
  border: black solid 2px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 350px;
  height: 200px;
  box-shadow: 0 5px 10px 2px rgba(195,192,192,.5);
  text-align: center;
}

.sign-up-modal {
  background-color: whitesmoke;
  border: black solid 2px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 350px;
  height: 275px;
  box-shadow: 0 5px 10px 2px rgba(195,192,192,.5);
  text-align: center;
}

.confirmation-modal {
  background-color: whitesmoke;
  border: black solid 2px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 400px;
  height: 125px;
  box-shadow: 0 5px 10px 2px rgba(195,192,192,.5);
  text-align: center;
}

.edit-video-modal {
  background-color: whitesmoke;
  border: black solid 2px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 350px;
  height: 350px;
  box-shadow: 0 5px 10px 2px rgba(195,192,192,.5);
  text-align: center;
}

button {
  background-color: black;
  color: white;
  font-weight: bold;
  border: solid black 1.5px;
  border-radius: 5px;
}

button:hover {
  background-color: white;
  color: black;
}